extends layout

block content
  canvas#background.unselectable(width='5000', height='3000')  
  canvas#canvas_turret.unselectable(width='800', height='600')  
  script(type='text/javascript', src='node_modules/socket.io/lib/')
  script(type='text/javascript', src='/javascripts/turret/background.js')
  script(type='text/javascript', src='/javascripts/turret/calculo.js')
  script(type='text/javascript', src='/javascripts/turret/asteroides.js')
  script(type='text/javascript', src='/javascripts/turret/turret.js')
  script(type='text/javascript', src='/javascripts/turret/colisoes.js')
  script(type='text/javascript', src='/javascripts/turret/main.js')
  script(type='text/javascript', src='/build/js/scripts.js')
  
