extends layout

block content
  canvas#background.unselectable(width='5000', height='3000')  
  canvas#canvas_turret.unselectable(width='800', height='600')  
  
  //Inclusao do CDN JQUERY para manipular CSS  (sรณ funfa online por ser cdn)---- 
  script(src="https://code.jquery.com/jquery-3.1.0.min.js")
  //----------------------------------------------------------------------------
  
  audio(id ="blaster" src="/javascripts/mp3/starwars.mp3" style="display: none;")
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='/javascripts/turret_client/packaged.js')
