doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="modules/es6-shim/es6-shim.js")
    script(src="modules/systemjs/dist/system.src.js")
    script(src="modules/rxjs/bundles/Rx.js")
    
  body
    block content
