body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p {
  text-align:center;
}

#background {
    display: none;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
